/*

bleu: #468BA6
orange: #F29A2E
light orange: #FDF0E0
darker bleu: #1S4859
brown:#593814
*/ 
body {
	background-color: #FDF0E0;
	padding: 36px 36px 36px 36px
}

h1 {
	text-align: center;
}

h1, h2 {
	color: #593814;
	font-weight: bold;
}

a:hover {
	color: #1S4859;
}

p, li, th, td {
	font-size: 1.2em;
}

table {
	border-collapse: collapse;
	margin-left: auto; margin-right: auto;
}

th, td {
    border: #468BA6 solid 3px; 
	padding: 8px;
}

p.pictures {
	text-align: center;
}

p.journey {
	text-align: center;
}


